{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Formula 1</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/cdn.i.haymarketmedia.asia.png') }}" alt="Formula 1" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Formula-1 Overview</h5>
                    <p class="card-text">
                        <ol>
                            <li>Formula 1 (F1) is the highest class of single-seater auto racing sanctioned by the Fédération Internationale de l'Automobile (FIA).</li>
                            <li>F1 cars are designed for high speeds and advanced aerodynamics, featuring cutting-edge technology such as hybrid power units, carbon fiber construction, and kinetic energy recovery systems (KERS).</li>
                            <li>The F1 World Championship consists of a series of races, called Grand Prix, held on circuits around the world, with iconic venues like Monza, Monaco, Silverstone, and Spa-Francorchamps.</li>
                            <li>Teams and drivers compete for both the Constructors' Championship (teams) and the Drivers' Championship (individuals), with races characterized by intense competition, strategic pit stops, and tactical maneuvers on and off the track.</li>
                        </ol>
                    </p>
                    <a href="https://www.formula1.com" class="btn btn-primary">Formula 1 Website</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/2023-porsche-911-gt3-rs.jpg') }}" alt="Porsche" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Porsche</h5>
                    <p class="card-text">
                        <ol>
                            <li>Porsche is a renowned German automotive manufacturer, founded in 1931 by Ferdinand Porsche, initially offering consulting and development services in automotive engineering.</li>
                            <li>The company is widely recognized for its production of high-performance sports cars, luxury vehicles, and SUVs, with iconic models such as the Porsche 911, Boxster, Cayman, Panamera, Cayenne, and Macan.</li>
                            <li>Porsche has a rich motorsport heritage, participating in various racing series worldwide, including endurance racing like the 24 Hours of Le Mans, where it has achieved numerous victories and championships.</li>
                            <li>Known for its commitment to engineering excellence, Porsche emphasizes innovation and precision craftsmanship in its vehicles, blending performance, luxury, and driving experience to create some of the most sought-after cars in the automotive industry.</li>
                        </ol>
                    </p>
                    <a href="https://www.porsche.com/usa/" class="btn btn-primary">Porsche Website</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/maxresdefault.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Audi R8 Performance</h5>
                    <p class="card-text">
                        <ol>
                            <li>The Audi R8 Performance is a high-performance sports car manufactured by the German automaker Audi, known for its exceptional speed, handling, and luxury features.</li>
                            <li>It is powered by a potent mid-engine configuration, typically featuring a V10 engine with variants offering different power outputs, capable of delivering exhilarating acceleration and top speeds.</li>
                            <li>The R8 Performance boasts advanced technology and engineering, including Audi's quattro all-wheel-drive system, which enhances traction and stability, particularly during high-speed cornering and acceleration.</li>
                            <li>Its sleek and aerodynamic design, coupled with premium materials and craftsmanship in the interior, provides drivers with a luxurious and comfortable driving experience while exuding a sense of exclusivity and sophistication on the road.</li>
                        </ol>
                    </p>
                    <a href="https://www.r8talk.com" class="btn btn-primary">Audi R8 Forum</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}